

.home-container {
    width: 100%;
    height: 100vh;  /* Ocupa toda la altura de la pantalla */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #ebeeef;   */
    /* Color de fondo */
}

.box {
    width: 100%;
    margin: 0 auto;
}

.container-login100 {
    width: 100%;  
    height: 100%;  /* Ocupa toda la altura del contenedor padre */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* padding: 15px; */
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login-card {
    width: 25rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* background-color: #ffffff; */
}

.login-header {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    gap: 5px;
    /* background: #ebeeef5d; */
    /* background: #ebeeef81; */
    border-radius: 5px;
}

.login-logo {
    width: 100px;
    height: auto;
    border-radius: 50%;
    /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); */
    /* background: rgba(0, 0, 0, 0.1); */
}
.text-session{
    margin: 0px;
    padding: 0px;
    font-style: italic;
}
.text-session .h1 {
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 0px;
}
.text-session .p {
    font-size: 1rem;
    margin-top: 0px;
    font-weight: 500;
}

.p-button {
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    font-family: var(--font-family) !important;
}

.p-field label {
    font-weight: bold;
    font-size: 1.1rem;
    /* font-family: cursive !important; */
}
