/* Estilos del home public*/
.__home {
    margin: 0 !important;
    padding: 0 !important;
}

.__home header {
    color: var(--color-title);
    background: var(--background-footer);
    box-shadow: var(--box-shadow);
}

.__home header h1 {
    margin: 0;
}

.__home .__box__textHeader {
    padding: 40px 5px 40px 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.__home .__btnContact {
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    color: var(--color-title);
    border: 2px solid var(--background-linea-divisor);
    padding: 10px 7px;
    border-radius: 5px;
    font-weight: bolder;
    transition: .5s ease;
}

.__home .__box__textHeader p {
    color: var(--color-footer);
}

.__home .__btnContact:hover {
    background: var(--color-title);
    color: black;
}

.__home .__imgAbout {
    width: 250px;
    height: auto;
}

.__home .__boxAbout {
    width: 800px !important;
}

.__home .__aboutSection div .__titleHome {
    color: var(--color-title-home);
    font-weight: bold;
}

.__home .__reverser {
    flex-direction: row-reverse;
}

@media screen and (max-width: 670px) {

    .__home .__imgAbout {
        width: 190px;
    }

    .__home .__boxAboutt {
        width: 300px !important;
    }


    .__home .__aboutSection {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .__home .__aboutSection div {
        text-align: center;
    }

}

/* Estilos de login */
.__boxLogin {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.__boxLogin .__box {
    width: 100%;
    margin: 0 auto;
}

.__boxLogin .__container__login100 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.__boxLogin .__login__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.__boxLogin .__loginCard {
    width: 25rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.__boxLogin .__loginHeader {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    gap: 5px;
    border-radius: 5px;
}

.__boxLogin .__loginLogo {
    width: 100px;
    height: auto;
    border-radius: 50%;
}

.__boxLogin .__texteSesion {
    margin: 0px;
    padding: 0px;
    font-style: italic;
}

.__boxLogin .__texteSesion .__h1 {
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 0px;
}

.__boxLogin .__texteSesion .__p {
    font-size: 1rem;
    margin-top: 0px;
    font-weight: 500;
}

.__boxLogin .p-button {
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    font-family: var(--font-family) !important;
}

.__boxLogin .p-field label {
    font-weight: bold;
    font-size: 1.1rem;
}


/* Estilos del footer public */
.__footer {
    position: relative;
    background-color: var(--background-footer);
    color: var(--color-footer);
    padding: 20px;
    box-shadow: var(--box-shadow);
}

.__footer .__center__horizontal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.__footer .__title__footer {
    text-align: start !important;
    font-size: 1.2rem;
    color: var(--color-title);
}

.__footer .__dividir__footer {
    align-items: center;
    height: 1px !important;
    background: var(--background-linea-divisor);
    margin: 10px 0px;
}

.__footer .__ul__footer {
    list-style-type: none;
    padding-left: 0;
}

.__footer .__ul__footer li a {
    text-decoration: none;
    color: var(--color-footer);
    cursor: pointer;
}

.__footer .__icon__dividir {
    margin: 10px 4px;
    color: var(--color-footer);
    transition: .3s ease-in-out;
}

.__footer .__icon__dividir:hover {
    color: var(--color-hover);
}

.__footer .__icon__dividir i {
    font-size: 1.5rem;
}

.__footer .__link__servicios:hover {
    color: var(--color-hover);
    text-decoration: underline;
    margin-bottom: 5px;
}

.__footer .__contactanos i {
    font-size: 1rem;
    margin: 0px 10px;
}


/* Modal perfil */
.__modal__perfil {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    z-index: 1000;
}

.__modal__perfil .__modal__box {
    user-select: none;
    background: var(--surface-0);
    border-radius: 5px;
    width: 210px;
    margin: 60px 30px 0 0;
    position: relative;
    border: 1px solid var(--surface-200);
    box-shadow: 0 4px 8px rgb(26 26 26 / .1);
}

.__modal__perfil .__modal__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.__modal__perfil .__modal__content p {
    margin: 0;
}

.__modal__perfil .__dividir {
    width: 100%;
    height: 1px;
    background: var(--surface-200);
    margin: 0;
}

.__modal__perfil .__info__perfil {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 12px;
    width: 100%;
}

.__modal__perfil .__info__perfil .__name {
    font-weight: 500;
}

.__modal__perfil .__info__perfil .__email {
    font-weight: 400;
    font-size: 0.8rem;
}

.__modal__perfil .__efect:hover {
    background: var(--surface-100);
}

.__modal__perfil .__info__perfil a {
    cursor: pointer;
}

.__modal__perfil .__themes {
    position: relative;
}

.__modal__perfil .__themes__box {
    position: absolute;
    width: 88px;
    left: -95px;
    top: 20px;
    background: var(--surface-0);
    border-radius: 5px;
    border: 1px solid var(--surface-200);
    box-shadow: 0 4px 8px rgb(26 26 26 / .1);
}

.__modal__perfil .__themes__box p {
    padding: 5px 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.__modal__perfil .__themes__box p:hover {
    background: var(--surface-100);
}


/* Estilo del spinner */
.p-progress-spinner-circle {
    stroke: #3498db;
    stroke-width: 4;
    animation: p-progress-spinner-dashs 1.5s ease-in-out infinite, p-progress-spinner-colors 6s ease-in-out infinite;
}

@keyframes p-progress-spinner-dashs {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }

}

/*Estilos del dashboard*/
#icon-menu-hamburger:hover {
    border-radius: 5px;
    background: var(--surface-200);
}

/* Estilos de servicios */
.__servicies .__titleServicies {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.__servicies .__titleServicies .__h1 {
    font-size: var(--font-size-h2);
    color: var(--color-title-home);
    font-weight: 500;
    margin: 0px;
    padding: 10px 0px;
}

.__servicies .__titleServicies .__h2 {
    font-size: var(--font-size-h1);
    font-weight: 400;
    margin: 0px;
    padding: 0px 15px;
    text-transform: uppercase;
}

.__servicies .__box__card {
    position: relative;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
    transition: 0.5s ease-in-out;
    border-radius: 5px;
    height: 250px;
}

.__servicies .__box__card::before {
    content: '';
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(19, 106, 138, 0.5), rgb(52, 152, 219, 1));
    z-index: 1;
    transition: 0.5s all;
    opacity: 0;
}

.__servicies .__box__card:hover::before {
    opacity: 1;
}

.__servicies .__box__card img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    position: absolute;
    top: 0;
    left: 0;
}

.__servicies .__box__card .__info {
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    top: 45%;
    padding: 0px 5px;
    transform: translateY(30px);
    transition: 0.5s all;
}

.__servicies .__box__card:hover .__info {
    opacity: 1;
    transform: translateY(0px);
}

.__servicies .__box__card .__btnDetalle {
    color: var(--color-hover);
    margin: 15px 0 0 0;
    border-radius: 5px;
    padding: 6px 15px;
    font-size: 0.9rem;
    font-weight: 500;
    border: 1px solid var(--color-hover);
    box-shadow: var(--box-shadow-gentle);
    transition: .5s ease-in-out;
}

.__servicies .__box__card .__btnDetalle:hover {
    color: var(--color-title-home);
    background: rgb(255, 255, 255, 0.8);
}


/* Estilos de proyectos public */
.__project {
    font-family: Arial, sans-serif;
    text-align: center;
}

.__project .__profile {
    margin: 40px 0;
}

.__project  .__profileImage {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid var(--surface-0);
    margin: 0 auto;
}

.__project .__profile h1 {
    font-size: 24px;
    margin: 10px 0;
}

.__project .__profile p {
    font-size: 16px;
    color: #7e7d7d;
    margin: 5px;
}


.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 90px;
    padding: 30px 40px;
    margin-bottom: 30px;
}

.__project  .__projectCard{
    background-color: var(--surface-0);
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.__project .__projectImage{
    width: 100%;
    height: 160px;
    background-color: #e0e0e0;
    border-radius: 10px 10px 0 0;
    margin-bottom: 10px;
}

.__projectImage img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 10px 10px 0 0;
}

.__infoCard{
    /* background: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.__projectCard h2 {
    font-size: 20px;
    margin: 10px 0;
}

.__projectCard p {
    font-size: 14px;
    color: #666;
    margin: 5px;

}