
.box-home{
    margin: 0 !important;
    padding: 0 !important;
}

/* Header */

header{
    color: var(--color-title);
    background: var(--background-footer);
    box-shadow: var(--box-shadow);
}

header h1{
    margin: 0;
}

.box-text-header{
    padding: 40px 5px 40px 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-contact{
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    color: var(--color-title);
    border: 2px solid var(--background-linea-divisor);
    padding: 10px 7px;
    border-radius: 5px;
    font-weight: bolder;
    transition: .5s ease;
}
.box-text-header p {
    color: var(--color-footer);
}
.btn-contact:hover{
    background: var(--color-title);
    color: black;
}

/* About */
.img-about {
    width: 250px;
    height: auto;
}

.box-about {
    width: 800px !important;
}

.about-section div .title-home {
    color: var(--color-title-home) ;
    font-weight: bold;
}

.__reverser{
    flex-direction: row-reverse;
}

/* Media query para dispositivos con un ancho máximo de 670px */
@media screen and (max-width: 670px) {

    .img-about {
        width: 190px;
    }

    .box-about {
        width: 300px !important;
    }


    .about-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .about-section div {
        text-align: center;
    }

}
