/* Estilos del footer */

:root{
    --background-footer: #111827;
    --color-footer:#ffffffa1;
    --color-title:whitesmoke;
    --background-linea-divisor:#ffffff50;
    --color-hover:white;
    --box-shadow:1px 2px 5px rgba(0, 0, 0, 0.3);
}


.footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-footer);
    color: var(--color-footer);
    padding: 20px;
    box-shadow: var(--box-shadow);
}

/* Centrado */
.center-horizontal{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
/* Titulos de los footer */
.title-footer{
    text-align: start !important;
    font-size: 1.2rem;
    color: var(--color-title);
}

/* Parrafos del footer */
.p-footer {
    text-align: center;
}


/* Linea devisora */
.dividir-f {
    align-items: center;
    height: 1px !important;
    background: var(--background-linea-divisor);
    margin: 10px 0px;
}

/* Lista */
.ul-footer{
    list-style-type: none;
    padding-left: 0;
}
/* ul de los footer */
.ul-footer li a{
    text-decoration: none;
    color: var(--color-footer);
    cursor: pointer;
}

/* Links */
.icon-dividir{
    margin: 10px 4px;
    color: var(--color-footer);
    transition: .3s ease-in-out;
}

.link-servicios:hover{
    color: var(--color-hover);
    text-decoration: underline;
    margin-bottom: 5px;
}

.icon-dividir:hover {
    color: var(--color-hover);
}

/* Inconos */
.icon-dividir i{
    font-size: 1.5rem;
}

.contactanos i {
    font-size: 1rem;
    margin: 0px 10px;
}